@model IEnumerable<CapaEntidad.entVenta>


<!-- ======= Header cliente======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="/Home/Cliente">My<span>Biz</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="~/Content/assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="/Home/Cliente#hero">Inicio</a></li>
                <li><a class="nav-link scrollto" href="/Home/Cliente#about">Sobre</a></li>
                <li><a class="nav-link scrollto" href="/Home/Cliente#services">Servicios</a></li>
                <li><a class="nav-link scrollto " href="/Home/Cliente#portfolio">Portafolio</a></li>
                <li><a class="nav-link scrollto" href="/Home/Cliente#team">Equipo</a></li>
                <li class="dropdown">
                    <a href="#"><span>Productos</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#">Opciones</a></li>
                        <li><a href="/Producto/productos">Productos</a></li>
                        <li><a href="/Venta/Listar">Mis compras</a></li>
                        <li><a href="/Home/CerrarSesion">Cerrar Sesión</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/Venta/Detalle">COMPRAR<i class="bi bi-cart4"></i></a></li>
                <li><a class="nav-link scrollto" href="/Home/Cliente#contact">Contacto</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header cliente -->
<!-- ======= Contenido ======= -->
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <br><h2 style="text-align: center">MIS COMPRAS</h2>
    
    <!-- Ordenar -->
    <a onclick="return Ordenar(this)" aria-current="page" type="button" class="btn btn-primary btn-lg" id="ASC" th:href="@*@{productoAsc}*@#"><i class="bi bi-sort-up"></i></a>
    <a onclick="return Ordenar(this)" aria-current="page" type="button" class="btn btn-secondary btn-lg" id="DESC" th:href="@*@{productoDesc}*@#"><i class="bi bi-sort-down"></i></a>
    <hr>
    <!-- Buscar -->
    <form class="d-flex mb-4" role="search" action="#" method="POST" id="Bproveedor">
        <input class="form-control me-2" type="search" placeholder="Buscar" name="dato" aria-label="Search">
        <button onclick="return Buscar('Bproveedor')" class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdVenta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdVenta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>