@model IEnumerable<CapaEntidad.EntProveedorProducto>

@{
    ViewBag.Title = "Listar";
}
<section id="topbar" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:miguelcerna@gmail.com">omarlujan@gmail.com</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span>+51 941042325 - +51 956535390</span></i>
        </div>
        <div class="social-links d-none d-md-flex">
            <a href="https://twitter.com/" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://pe.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <a class="nav-link scrollto" data-bs-toggle="modal" data-bs-target="#EditarDatos"><i class="bi bi-person-circle"></i></a>
        </div>
    </div>
</section>
<!-- ======= Header admin======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="/Home/admin">Maderera<span>Carocho</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="~/Content/assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="#hero">Inicio</a></li>
                <li class="dropdown">
                    <a href="#"><span>Productos</span> <i class="bi bi-chevron-double-down"></i></a>
                    <ul>
                        <li><a href="/Producto/ListarProducto">Mantenedor De Productos<i class="bi bi-cart4"></i></a></li>
                        <li><a href="/Producto/ListarParaComprar">Elegir productos para el pedido<i class="bi bi-truck"></i></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"><span>Usuarios</span> <i class="bi bi-chevron-double-down"></i></a>
                    <ul>
                        <li><a href="#">Administradores<i class="bi bi-person-fill-lock"></i></a></li>
                        <li><a href="/Usuario/ListarClientes">Clientes<i class="bi bi-person-lines-fill"></i></a></li>
                        <li><a href="#">Empleados<i class="bi bi-person-badge-fill"></i></a></li>
                    </ul>
                </li>
                <li><a href="/Proveedor/Listar">Proveedores<i class="bi bi-person-lock"></i></a></li>
                <li class="dropdown">
                    <a href="#"><span>Ver Compras</span> <i class="bi bi-chevron-double-down"></i></a>
                    <ul>
                        <li><a href="/Compra/ListarTodasLasCompras">TodasLasCompras realizadas<i class="bi bi-cart4"></i></a></li>
                        <li><a href="/Compra/ListarCompra">Mis Compras realizadas<i class="bi bi-truck"></i></a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/Compra/ListarTodasLasVentas">Ver ventas</a></li>
                <li><a class="nav-link scrollto" href="/TemporaryProduct/ListarTempProduct"><i class="bi bi-cart3">Carrito</i></a></li>
                <li><a class="nav-link scrollto" href="/Home/admin#contact">Contacto</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<!-- ======= Contenido ======= -->
<br>
<br>
<br>
<br>
<div class="container">
    <br><h2 style="text-align: center">LISTADO DE PRODUCTOS</h2>
    <!-- Agregar producto -->

    <hr>
    <!-- Ordenar -->
    <a onclick="return Ordenar(this)" aria-current="page" class="btn btn-primary btn-lg" id="ASC" @*href="Ordenar?dato=1"*@><i class="bi bi-sort-up"></i></a>
    <a onclick="return Ordenar(this)" aria-current="page" class="btn btn-secondary btn-lg" id="DESC" @*href="Ordenar?dato=0"*@><i class="bi bi-sort-down"></i></a>
    <hr>
    <!-- Buscar -->
    <form class="d-flex mb-4" role="search" action="ListarParaComprar" method="POST" id="Bproducto">
        <input class="form-control me-2" type="search" placeholder="Buscar" name="dato" aria-label="Search">
        <button onclick="return Buscar('Bproducto')" class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
    <table table class="table table-hover">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Longitud
                </th>
                <th>
                    Diametro
                </th>
                <th>
                    Proveedor
                </th>
                <th>
                    Stock
                </th>
                <th>
                    P compra
                </th>
                <th>
                    P venta
                </th>
                <th>
                    Activo
                </th>
                <th>
                    Agregar
                </th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.IdProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Tipo.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Longitud)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Diametro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proveedor.RazonSocial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.PrecioVenta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Producto.Activo)
                    </td>
                    <td>
                        <a onclick="return Agregar(this)" href="/Producto/AgregarTempPrduct?idprod=@item.Producto.IdProducto&idprov=@item.Proveedor.IdProveedor" class="btn btn-success" type="button"><i class="bi bi-cart-plus"></i></a>
                    </td>
                    <td>
                        <a onclick="return Eliminar(this)" href="/Producto/EliminarDetalle?idprov=@item.Proveedor.IdProveedor &idprod=@item.Producto.IdProducto" class="btn btn-danger" type="button"><i class="bi bi-trash3"></i></a>
                    </td>

                </tr>
            }
        <tbody>
    </table>
</div>
<br>
<br>
<br>
