@model CapaEntidad.entEmpleado

<!-- ======= Header admin======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="/Home/Admin">My<span>Biz</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="~/Content/assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="/Home/Admin">Inicio</a></li>
                <li><a class="nav-link scrollto" href="/Home/admin#about">Sobre</a></li>
                <li><a class="nav-link scrollto" href="/Home/admin#services">Servicios</a></li>
                <li><a class="nav-link scrollto " href="/Home/admin#portfolio">Portafolio</a></li>
                <li><a class="nav-link scrollto" href="/Home/admin#team">Equipo</a></li>
                <li class="dropdown">
                    <a href="#"><span>Gestionar</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/Cliente/ListarAdmin">Administradores</a></li>
                        <li><a href="/Producto/Listar">Productos</a></li>
                        <li><a href="/Cliente/Listar">Clientes</a></li>
                        <li><a href="/Proveedor/Listar">Proveedores</a></li>
                        <li><a href="/Empleado/Listar">Empleados</a></li>
                        <li><a href="/Compra/Index">Ver compras</a></li>
                        <li><a href="/Home/CerrarSesion">Cerrar Sesión</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/Home/admin#contact">Contacto</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<!-- ======= Contenido ======= -->
<br>
<br>
<br>
<br>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <hr>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Tipo de empleado</label>
            <div class="col-md-10">
                @Html.DropDownList("cTipoE", (SelectList)ViewBag.listaTipo, new { @class = "formcontrol", required = "required" })
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Ubigeo</label>
            <div class="col-md-10">
                @Html.DropDownList("cDistrito", (SelectList)ViewBag.listaUbigeo, new { @class = "formcontrol", required = "required" })
            </div>
        </div>

        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">IdEmpleado</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdEmpleado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdEmpleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">nombres</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombres, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">dni</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">telefono</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">direccion</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">fecha inicio</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.F_inicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.F_inicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">fecha final</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.F_fin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.F_fin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">salario</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Salario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">descripcion</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mb-3 row">
            @Html.LabelFor(model => model.EstEmpleado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.EstEmpleado)
                    @Html.ValidationMessageFor(model => model.EstEmpleado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <br>
        <button type="button" class="btn btn-warning">
            @Html.ActionLink("Regresar", "Listar")
        </button>

        <button type="submit" class="btn btn-info">
            Confirmar
        </button>
    </div>
    <br>
    <br>
    <br>
    <br>
}
