@model CapaEntidad.entUsuario

@{
    ViewBag.Title = "EditarCliente";
}

<h2>EditarCliente</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>entCliente</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Rol</label>
            <div class="col-md-10">
                @Html.DropDownList("Rol", (SelectList)ViewBag.listaRoll, new { @class = "formcontrol", required = "required" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdUsuario, new { htmlAttributes = new { @class = "form-control", @type = "hiden" } })
                @Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "text-danger", @type = "hidden" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Activo)
                    @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<button type="button" class="btn btn-warning">
    @Html.ActionLink("Regresar", "ListarClientes")
</button>

<button type="submit" class="btn btn-info">
    Confirmar
</button>

