@model IEnumerable<CapaEntidad.entProveedorProducto>

@{
    ViewBag.Title = "MostrarDetalle";
}

<h2>MostrarDetalle</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Razon social
        </th>
        <th>
            Descripcion
        </th>
        <th>
            IdProducto
        </th>
        <th>
            Producto
        </th>
        <th>
            Longitud
        </th>
        <th>
            stock
        </th>
        <th>
            precioCompra
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdProveedorProducto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Proveedor.RazonSocial)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Proveedor.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Producto.IdProducto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Producto.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Producto.Longitud)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Producto.Stock)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Producto.PrecioCompra)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
