@model IEnumerable<CapaEntidad.entProveedorProducto>
<!-- ======= Top Bar ======= -->
<section id="topbar" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:miguelcerna@gmail.com">omarlujan@gmail.com</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span>+51 941042325 - +51 956535390</span></i>
        </div>
        <div class="social-links d-none d-md-flex">
            <a href="https://twitter.com/" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://pe.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <a class="nav-link scrollto" data-bs-toggle="modal" data-bs-target="#EditarDatos"><i class="bi bi-person-circle"></i></a>
        </div>
    </div>
</section>
<!-- ======= Header admin======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="/Home/Admin">Maderera<span>Carocho</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="~/Content/assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="/Home/Admin#hero">Inicio</a></li>
                <li><a class="nav-link scrollto" href="/Producto/ListarParaComprar">Productos</a></li>
                <li><a class="nav-link scrollto" href="/Usuario/ListarClientes">Clientes</a></li>
                <li><a class="nav-link scrollto" href="/Proveedor/Listar">Proveedores</a></li>
                <li><a class="nav-link scrollto" href="/Empleado/Listar">Empleados</a></li>
                <li><a class="nav-link scrollto" href="/Compra/ListarCompra">Ver compras</a></li>
                <li><a class="nav-link scrollto" href="/TemporaryProduct/ListarTempProduct"><i class="bi bi-cart3">Carrito</i></a></li>
                <li><a class="nav-link scrollto" href="/Home/admin#contact">Contacto</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<!-- ======= Contenido ======= -->
<h2>MostrarDetalle</h2>
<hr>
<br>
<br>
<br>
<hr>
<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ModElegirProducto"><i class="bi bi-plus-square"></i> Agregar Proveedor</button>
<br>
<br>
<br>
<table table class="table table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            IdProducto
        </th>
        <th>
            Producto
        </th>
        <th>
            Longitud
        </th>
        <th>
            stock
        </th>
        <th>
            precioCompra
        </th>
        <th></th>
    </tr>
    @{
        int count = 0;
        int idProo = 0;
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    count++;
                    idProo = item.Proveedor.IdProveedor;
                }
                @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioCompra)
            </td>
            <td>
                <a onclick="return Eliminar(this)" href="/Proveedor/EliminarDetalle?idprov=@item.Proveedor.IdProveedor&idprod=@item.Producto.IdProducto" class="btn btn-danger" type="button"><i class="bi bi-trash"></i></a>

            </td>

        </tr>
    }
</table>
<br>
<br>
<br>
<br>

<div class="modal" tabindex="-1" id="ModElegirProducto" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form action="/Proveedor/ElegirProductos" method="POST" id="mdproveedor">
                <div class="modal-header ">
                    <h5 class="modal-title">Ingresar Proveedor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        @Html.DropDownList("Pr", (SelectList)ViewBag.producto, "Seleccionar", new { @class = "form-select", required = "required" })
                        <label for="tipo" class="form-label">Producto: </label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="precio" id="precio" placeholder="Precio de compra" required>
                        <label for="floatingInput">PrecioDeCompra</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="hidden" class="form-control" name="proveedor" id="proveedor" placeholder="proveedor" value=@idProo required>   
                    </div>
                    <div>
                        <input type="hidden" id="llenarparametro" value="lleno" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button onclick="return Registrar('precio', 'proveedor', 'llenarparametro', 'mdproveedor')" type="submit" class="btn btn-dark">Registrar</button>
                    <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

