@model CapaEntidad.entUsuario
<!-- ======= Top Bar ======= -->
<section id="topbar" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:miguelcerna@gmail.com">miguelcerna@gmail.com</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span>+51 941042325 - +51 956535390</span></i>
        </div>
        <div class="social-links d-none d-md-flex">
            <a href="https://twitter.com/" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://pe.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <a href="/Home/EditarDatosCliente" class="linkedin"><i class="bi bi-person-circle"></i></a>
            <a class="nav-link scrollto" data-bs-toggle="modal" data-bs-target="#EditarDatosC"><i class="bi bi-person-circle"></i></a>
        </div>
    </div>
</section>

<!-- ======= Header cliente======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="/Home/Cliente">Made<span>rera</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="~/Content/assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="/Home/Cliente#hero">Inicio</a></li>
                <li><a href="/Producto/Productos">Productos</a></li>
                <li><a href="/Venta/Listar">Mis compras</a></li>
                <li><a class="nav-link scrollto" href="/Venta/Detalle">COMPRAR<i class="bi bi-cart4"></i></a></li>
                <li><a class="nav-link scrollto" href="/Home/Cliente#contact">Contacto</a></li>
                <li><a href="/Home/CerrarSesion">Cerrar Sesión</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header cliente -->

<br>
<br>
<br>
<br>
<br>
<br>
@{
    ViewBag.Title = "Editar datos";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Ubigeo</label>
            <div class="col-md-10">
                @Html.DropDownList("Ubig", (SelectList)ViewBag.listaUbigeo, (String)ViewBag.Ubigeo, new { @class = "formcontrol", required = "required" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdUsuario, new { htmlAttributes = new { @class = "form-control", @type = "hidden" } })
                @Html.ValidationMessageFor(model => model.IdUsuario, "", new { @class = "text-danger", @type = "hidden" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Activo)
                    @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-warning">
            @Html.ActionLink("Regresar", "Cliente")
        </button>

        <button type="submit" class="btn btn-info">
            Confirmar
        </button>


    </div>
}
<br>
<br>
<br>
<br>
<br>
<br>


