@model IEnumerable<CapaEntidad.entProveedorProducto>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="fixed-top d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:miguelcerna@gmail.com">miguelcerna@gmail.com</a></i>
                <i class="bi bi-phone d-flex align-items-center ms-4"><span>+51 941042325 - +51 956535390</span></i>
            </div>
            <div class="social-links d-none d-md-flex">
                <a href="https://twitter.com/" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://pe.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </section>

    <!-- ======= Header index ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1><a href="/Home/Index">Maderera<span>Carocho</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="~/Content/assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>
            @ViewBag.Error
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto " href="#hero">Inicio</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
                    <li><a class="nav-link scrollto" data-bs-toggle="modal" data-bs-target="#ModLogin">LogIn</a></li>
                    <li><a class="nav-link scrollto" data-bs-toggle="modal" data-bs-target="#ModInsertarCliente">SingIn</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header index -->
    <!-- ======= Contenido ======= -->
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

                <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <!-- Slide 1 -->
                    <div class="carousel-item active" style="background-image: url(/Content/assets/img/slide/Deslizar-1.jpg);">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">Bienvenido a <span>Maderera Carocho</span></h2>
                                <p class="animate__animated animate__fadeInUp">Nuestros precios son los mejores de todo Huanchaquito.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 2 -->
                    <div class="carousel-item" style="background-image: url(/Content/assets/img/slide/Deslizar-2.jpg);">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">MADERERA CAROCHO</h2>
                                <p class="animate__animated animate__fadeInUp">Nuestros clientes mas infelices son nuestra mayor fuente de aprendizaje.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Slide 3 -->
                    <div class="carousel-item" style="background-image: url(/Content/assets/img/slide/Deslizar-3.jpg);">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">MADERERA CAROCHO</h2>
                                <p class="animate__animated animate__adeInUp">Preferimos intentarlo y fracasar que fracasar sin haberlo intentado.</p>
                            </div>
                        </div>
                    </div>

                </div>

                <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon ri-arrow-left-line" aria-hidden="true"></span>
                </a>

                <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon ri-arrow-right-line" aria-hidden="true"></span>
                </a>

            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">
        <section id="products">
            <div class="container">
                <br><h2 style="text-align: center">PRODUCTOS</h2>
                <!-- Ordenar -->
                <a onclick="return Ordenar(this)" aria-current="page" class="btn btn-primary btn-lg" id="ASC" @*href="Ordenar?dato=1"*@><i class="bi bi-sort-up"></i></a>
                <a onclick="return Ordenar(this)" aria-current="page" class="btn btn-secondary btn-lg" id="DESC" @*href="Ordenar?dato=0"*@><i class="bi bi-sort-down"></i></a>
                <hr>
                <!-- Buscar -->
                <form class="d-flex mb-4" role="search" action="Index#products" method="POST" id="Bproducto">
                    <input class="form-control me-2" type="search" placeholder="Buscar" name="dato" aria-label="Search">
                    <button onclick="return Buscar('Bproducto')" class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
                <table table class="table table-hover">
                    <thead class="table table-hover">
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Longitud
                            </th>
                            <th>
                                Diametro
                            </th>
                            <th>
                                Proveedor
                            </th>
                            <th>
                                Stock
                            </th>
                            <th>
                                Precio
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Producto.IdProducto)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Producto.Tipo.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Producto.Longitud)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Producto.Diametro)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Proveedor.RazonSocial)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Producto.Stock)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Producto.PrecioVenta)
                                </td>
                            </tr>
                        }
                    <tbody>
                </table>
            </div>
        </section>
        <section id="contact" class="contact">
            <div class="container">
                <div class="section-title">
                    <span>Contacto</span>
                    <h2>Contacto</h2>
                    <p>Estamos Ubicados en el Ovalo de Huanchaquito</p>
                </div>
            </div>

            <div class="map">
                <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2348.770567527!2d-79.09847187411074!3d-8.086640346226611!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sMZA.%201-A%20LOTE.%203%20A.H.%20HUANCHAQUITO%20ALTO!5e0!3m2!1ses-419!2spe!4v1669303021382!5m2!1ses-419!2spe" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="container">

                <div class="info-wrap mt-5">
                    <div class="row">
                        <div class="col-lg-4 info">
                            <i class="ri-map-pin-line"></i>
                            <h4>Localización:</h4>
                            <p>MZA. 1-A LOTE. 3<br>Huanchaquito Alto</p>
                        </div>

                        <div class="col-lg-4 info mt-4 mt-lg-0">
                            <i class="ri-mail-line"></i>
                            <h4>Email:</h4>
                            <p>infomadereracarocho@gmail.com<br>miguelcerna@gmail.com</p>
                        </div>

                        <div class="col-lg-4 info mt-4 mt-lg-0">
                            <i class="ri-phone-line"></i>
                            <h4>Call:</h4>
                            <p>+51 941042325<br>+51 956535390</p>
                        </div>
                    </div>
                </div>

                <form action="~/Content/forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Tu mensaje fue enviado. Gracias!</div>
                    </div>
                    <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
                </form>

            </div>
        </section><!-- End Contact Section -->
    </main><!-- End #main -->
    <!--Sing Up-->
    <div class="modal" tabindex="-1" id="ModInsertarCliente" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="/Home/SingUp" method="POST" id="cliente">
                    <div class="modal-header ">
                        <h5 class="modal-title">Ingresar Datos</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="cNombre" id="cnombre" placeholder="Nombre" required>
                            <label for="floatingInput">Nombre</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="cusername" id="cusername" placeholder="Username" required>
                            <label for="floatingInput">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="ccorreo" id="ccorreo" placeholder="Correo" required>
                            <label for="floatingInput">Correo</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="cpassword" id="cpassword" placeholder="Password" required>
                            <label for="floatingInput">Password</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button onclick="return Registrar('cusername', 'ccorreo', 'cpassword', 'cliente')" type="submit" class="btn btn-dark">Registrar</button>
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ======= Login ======= -->
    <div class="modal" tabindex="-1" id="ModLogin" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="/Home/VerificarAcceso" method="POST" id="login">
                    <div class="modal-header ">
                        <h5 class="modal-title">Login</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="dato" id="nom" placeholder="Ingrese usuario o correo" required>
                            <label for="floatingInput">Usuario o Correo</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" name="contra" id="contr" placeholder="Password" required>
                            <label for="floatingInput">Password</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-dark">Iniciar Sesión</button>
                        <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cerrar</button>
                        @ViewBag.Error
                    </div>
                </form>
            </div>
        </div>
    </div>
