@model IEnumerable<CapaEntidad.EntTemporaryProducts>

<section id="topbar" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:miguelcerna@gmail.com">miguelcerna@gmail.com</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span>+51 941042325 - +51 956535390</span></i>
        </div>
        <div class="social-links d-none d-md-flex">
            <a href="https://twitter.com/" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://pe.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <a class="nav-link scrollto" data-bs-toggle="modal" data-bs-target="#EditarDatosC"><i class="bi bi-person-circle"></i></a>
        </div>
    </div>
</section>
<!-- ======= Header cliente======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="/Home/Cliente">Made<span>rera</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="~/Content/assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="/Home/Cliente#hero">Inicio</a></li>
                <li><a href="/Producto/Productos">Productos</a></li>
                <li><a href="/Venta/Listar">Mis compras</a></li>
                <li><a href="/TemporaryProduct/ListarTempProductClient">COMPRAR<i class="bi bi-cart4"></i></a></li>
                <li><a class="nav-link scrollto" href="/Home/Cliente#contact">Contacto</a></li>
                <li><a href="/Home/CerrarSesion">Cerrar Sesión</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header cliente -->
<!-- ======= Contenido ======= -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <br>
    <br>
    <br><h2 style="text-align: center">LISTA DE PEDIDO</h2>
    <br>
    <br>
    <a href="../Venta/ConfirmarCompra" type="button" class="btn btn-success">
        <i class="bi bi-cart-check"> Realizar Pedido</i>
    </a>
    <table table class="table table-hover">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Longitud
                </th>
                <th>
                    Diamtro
                </th>
                <th>
                    Tipo
                </th>
                @*<th>
                    Proveedor
                </th>*@
                @*<th>
                    Descripcion
                </th>*@
                <th>
                    Precio
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Subtotal
                </th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTemp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProveedorProducto.Producto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProveedorProducto.Producto.Longitud)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProveedorProducto.Producto.Diametro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProveedorProducto.Producto.Tipo.Nombre)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.ProveedorProducto.Proveedor.RazonSocial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProveedorProducto.Proveedor.Descripcion)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ProveedorProducto.PrecioCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subtotal)
                    </td>
                    <td>
                        <a onclick="return Eliminar(this)" href="/TemporaryProduct/EliminarTempPrductClient?idtemp=@item.IdTemp" class="btn btn-danger" type="button"><i class="bi bi-cart-x"></i></a>
                    </td>

                </tr>
            }
        </tbody>

    </table>
    <br>
</div>
<br>
<br>
<br>

