@model IEnumerable<CapaEntidad.EntTemporaryProducts>

<section id="topbar" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:miguelcerna@gmail.com">omarlujan@gmail.com</a></i>
            <i class="bi bi-phone d-flex align-items-center ms-4"><span>+51 941042325 - +51 956535390</span></i>
        </div>
        <div class="social-links d-none d-md-flex">
            <a href="https://twitter.com/" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://pe.linkedin.com/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <a class="nav-link scrollto" data-bs-toggle="modal" data-bs-target="#EditarDatos"><i class="bi bi-person-circle"></i></a>
        </div>
    </div>
</section>
<!-- ======= Header admin======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="/Home/admin">Maderera<span>Carocho</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="~/Content/assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto " href="#hero">Inicio</a></li>
                <li class="dropdown">
                    <a href="#"><span>Productos</span> <i class="bi bi-chevron-double-down"></i></a>
                    <ul>
                        <li><a href="/Producto/ListarProducto">Mantenedor De Productos<i class="bi bi-cart4"></i></a></li>
                        <li><a href="/Producto/ListarParaComprar">Elegir productos para el pedido<i class="bi bi-truck"></i></a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#"><span>Usuarios</span> <i class="bi bi-chevron-double-down"></i></a>
                    <ul>
                        <li><a href="#">Administradores<i class="bi bi-person-fill-lock"></i></a></li>
                        <li><a href="/Usuario/ListarClientes">Clientes<i class="bi bi-person-lines-fill"></i></a></li>
                        <li><a href="#">Empleados<i class="bi bi-person-badge-fill"></i></a></li>
                    </ul>
                </li>
                <li><a href="/Proveedor/Listar">Proveedores<i class="bi bi-person-lock"></i></a></li>
                <li class="dropdown">
                    <a href="#"><span>Ver Compras</span> <i class="bi bi-chevron-double-down"></i></a>
                    <ul>
                        <li><a href="/Compra/ListarTodasLasCompras">TodasLasCompras realizadas<i class="bi bi-cart4"></i></a></li>
                        <li><a href="/Compra/ListarCompra">Mis Compras realizadas<i class="bi bi-truck"></i></a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="/Compra/ListarTodasLasVentas">Ver ventas</a></li>
                <li><a class="nav-link scrollto" href="/TemporaryProduct/ListarTempProduct"><i class="bi bi-cart3">Carrito</i></a></li>
                <li><a class="nav-link scrollto" href="/Home/admin#contact">Contacto</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<!-- ======= Contenido ======= -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <br>
    <br>
    <br><h2 style="text-align: center">LISTA DE PEDIDO</h2>
    <br>
    <br>
    <a href="../Compra/ConfirmarCompra" type="button" class="btn btn-success">
        <i class="bi bi-cart-check"> Realizar Pedido</i>
    </a>
    <table table class="table table-hover">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Longitud
                </th>
                <th>
                    Diamtro
                </th>
                <th>
                    Tipo
                </th>
                <th>
                    Proveedor
                </th>
                <th>
                    Descripcion
                </th>
                <th>
                    Precio
                </th>
                <th>
                    Cantidad
                </th>
                <th>
                    Subtotal
                </th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTemp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProveedorProducto.Producto.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProveedorProducto.Producto.Longitud)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProveedorProducto.Producto.Diametro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProveedorProducto.Producto.Tipo.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProveedorProducto.Proveedor.RazonSocial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProveedorProducto.Proveedor.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProveedorProducto.PrecioCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subtotal)
                    </td>
                    <td>
                        <a onclick="return Eliminar(this)" href="/TemporaryProduct/EliminarTempPrduct?idtemp=@item.IdTemp" class="btn btn-danger" type="button"><i class="bi bi-cart-x"></i></a>
                    </td>

                </tr>
            }
        </tbody>

    </table>
    <br>
</div>
<br>
<br>
<br>

